*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{

    text-align: center;
    margin-top: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 44, 44);
    color: aliceblue;
    padding: 1rem 0;
}
.container{
    display: flex;
    background-color: rgb(43, 229, 239);
    width: 100vw;
    height: 50%;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 1rem 0;
 
}

.boxes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.boxes{
    
  width: clamp(90px,15%,200px);
  height: 100px;
  background-color: black;
  margin: .5rem;
  cursor: pointer;
}
.boxes:hover{
    box-shadow: 3px 3px 10px grey;
}

.btn-result-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 50%;
margin-top: 1rem;
}
.btn-container{
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btn-container button{
    padding: 1rem 1.1rem;
    margin: .5rem .5rem;
    width: 8rem;
    height: 3rem;
    border-radius: .5rem;
    border: none;
    text-align: center;
    background-color: rgb(248, 238, 238);
    color: rgb(25, 28, 31);
    cursor: pointer;
}
.btn-container button:hover{
   background-color: black;
   color:#fff;
}

.result{
    width: 90%;
    height: 100px;
    margin: 1rem;
    padding: .7rem;
    border-radius: 10px;
    background-color: rgb(248, 202, 202);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}












@media (max-width: 850px){

    .boxes{
        height: 100px;
    }
}
@media (max-width: 650px){

    .boxes{
        height: 70px;
    }
    .container{
        width: 100%;
        margin: 1rem;
        flex-direction: column;
        
    }
}